.a-propos {
  text-align: center;
  margin: 10% auto;
  width: 50%;
  border: 1px solid #E8F7FE;
  padding: 35px ;
  border-radius: 15px;
  justify-content: center;
  align-items: center;
  display: flex;
  height: 400px;
  background-color: #E8F7FE;
  transition: .5s;


  .about-card{
    text-align: center;
    justify-content: center;
    padding: 10px;

    h1{
      font-weight: bold;
      font-size: 2.9rem;
      margin-bottom: 25px;
    }
    p{
      font-size: 20px;
      line-height: 30px;
    }
  }

  &:hover{
    background-color: #b9e9ff;
    transition: .5s;
  }
}
